<div class="d-flex justify-content-center">
  <form action="/answer" data-turbo="false" class="border p-4 rounded" style="width: 400px;">
    <label for="question" class="form-label">Your question</label>
    <input type="text" id="question" name="question" class="form-control mb-3">
    <div class="d-flex justify-content-center">
      <input id="btn-ask" type="submit" value="Ask!" class="btn btn-primary"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    </div>
  </form>
</div>
